#result{
    display: center;
    margin:16px;
    padding: auto;
    border-radius: 50px;
    text-align: center;

}
*{
    text-align: center;
}
#whole{
    border: 3px solid black;
    display: inline-block;
    padding: 24px;
}
button{
    height: 70px;
    width: 70px;
}